@media screen and (max-width:300px) {
  #results {
    margin-top: -5vh;
  }

  .tripInfo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 10px;
    align-items: center;
    grid-template-areas:
    "pht"
    "dtl"
  }

  .locationPhoto {
    display: grid;
    grid-area: pht;
  }

  .tripDetails {
    display: grid;
    grid-area: dtl;
  }

  .forecast {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 10px;
    align-items: center;
  }

  .day {
    display: grid;
  }

  .weatherDetail {
    display: block;
    .summary {
      font-size: 4vw;
    }
    .temp {
      font-size: 5vw;
    }
  }

  .deleteButton {
    display: grid;
    grid-area: del;
  }

  .destination {
    font-size: 6vw;
  }

  .travelDates {
      font-size: 5vw;
  }

  .info, .weatherDetail {
    font-size: 2vw;
  }

}

@media (min-width:301px) and (max-width: 500px){
  #results {
    margin-top: -10vh;
  }

  .tripInfo {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    align-items: center;
    grid-template-areas:
    "pht dtl"
  }
  .forecast {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 10px;
    align-items: center;
  }

  .day {
    display: grid;
    grid-template-columns: 0.6fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    "icn day"
    "icn wth"
  }

  .weatherIcon {
    display: grid;
    grid-area: icn;
    align-self: center;
    justify-content: center;
  }

  .weatherDate {
    display: grid;
    grid-area: day;
    font-size: 4.5vw;
  }

  .weatherDetail {
    display: grid;
    grid-area: wth;
    border-bottom: 1px solid #333;
    .summary {
      font-size: 4vw;
    }
    .temp {
      font-size: 4vw;
    }
  }

  .destination {
    font-size: 4vw;
  }

  .travelDates {
      font-size: 3vw;
  }
}

@media screen and (min-width:501px) {
  #results {
    margin-top: -10vh;
  }

  .tripInfo {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    align-items: center;
    grid-template-areas:
    "pht dtl"
  }
  .forecast {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3,auto);
    grid-gap: 10px;
    align-items: center;
    grid-template-areas:
    "lbl lbl lbl lbl lbl lbl lbl"
    "day1 day2 day3 day4 day5 day6 day7"

  }
  .forecastLabel {
    display: grid;
    grid-area: lbl;
  }

  #day1 {
    display: grid;
    grid-area: day1;
  }
  #day2 {
    display: grid;
    grid-area: day2;
  }
  #day3 {
    display: grid;
    grid-area: day3;
  }
  #day4 {
    display: grid;
    grid-area: day4;
  }
  #day5 {
    display: grid;
    grid-area: day5;
  }
  #day6 {
    display: grid;
    grid-area: day6;
  }
  #day7 {
    display: grid;
    grid-area: day7;
  }

  .day {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-self: flex-start;
    grid-template-areas:
    "date"
    "icn"
    "wth"
  }

  .weatherIcon {
    display: grid;
    grid-area: icn;
  }

  .weatherDate {
    display: grid;
    grid-area: date;
    font-size: 1.8vw;
  }

  .weatherDetail {
    display: grid;
    grid-area: wth;
    // border-bottom: 1px solid #333;
    .summary {
      font-size: 1.5vw;
    }
    .temp {
      font-size: 2vw;
    }
  }

  .destination {
    font-size: 4vw;
  }

  .travelDates {
      font-size: 3vw;
  }
}
