// #results {
//   display: block;
//   width: 100%;
//   align-items: left;
// }

// .resultLayout {
//   display: grid;
//   grid-template-columns: 100%;
//   grid-template-rows: auto;
//   grid-gap: 10px;
//   align-items: center;
//   grid-template-areas:
//   "pht"
//   "dtl"
//   "wth"
//   "del"
// }

.tripInfo {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 10px;
  align-items: center;
  grid-template-areas:
  "pht"
  "dtl"
}

.locationPhoto {
  display: grid;
  grid-area: pht;
}

.tripDetails {
  display: grid;
  grid-area: dtl;
}

.forecast {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(8, [row] auto  );
  grid-gap: 10px;
  align-items: center;
  grid-template-areas:
  icn
  day
  wth
}

.weatherIcon {
  display: grid;
  grid-area: icn;
}

.weatherDate {
  display: grid;
  grid-area: day;
}

.weatherDetail {
  display: grid;
  grid-area: wth;
}

.deleteButton {
  display: grid;
  grid-area: del;
}

// @media screen and (min-width:800px) {
  // .resultLayout {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   // grid-template-rows: auto;
  //   grid-template-areas:
  //   "pht dtl"
  //   "wth wth"
  //   "del del"
  // }

// .weather {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
//   // grid-template-rows: auto;
//   grid-template-areas:
//   "frc frc frc frc frc frc frc"
//   "wday wday wday wday wday wday wday"
// }
// .forecast {
//   display: grid;
//   grid-area: frc;
// }
//
// .weatherDay {
//   display: grid;
//   grid-area: wday;
// }
//
// }
